.card-app-image {
    max-width: 80px;
    min-width: 80px;
    box-shadow: 0 12px 20px -10px rgba(156, 39, 176, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(156, 39, 176, 0.2);
}

.mdt-card h3 {
    font-size: 1.525em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mdt-card .mdt-card-header {
    padding: 0px;
    background: rgba(255, 255, 255, 0);
    box-shadow: none;
}

.mdt-cardTEST [data-background-color="clear"] {
    background: rgba(255, 255, 255, 0);
    box-shadow: none;
}

.mdt-card .mdt-card-footer .stats{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mdt-card-stats .mdt-card-content {
    text-align: left;
}

.mdt-card .mdt-card-footer .stats p{
    margin: 0 0 0px;
}

material-input .label{
    text-align: left;
}

material-input {
    width: 100%;
}

.uppercase-label {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    color: rgba(0,0,0,0.54);
}

.platformandroid {
    float: left;
    vertical-align:middle;
    width:32px;
    height:32px;
    background-image: url(../../images/android_64.png);
    background-size: 100%;
    margin-right: 10px;
}
.platformios {
    float: left;
    vertical-align:middle;
    width:32px;
    height:32px;
    background-image: url(../../images/apple_64.png);
    background-size: 100%;
    margin-right: 10px;
}
.mdt-card {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.34);
}

.qr-code-button {
    background-image:url(../../images/qrcode_black.png);
}

.action_button {
    //float: right;
    text-align: left;
    border:thin solid black;
}

.no_margin_bottom {
    margin-bottom: 0px;
}

.admin_button {
    color: red;
}

.appDetailIcon {
    max-width: 128px;
    max-height: 128px;
    min-width: 64px;
    min-height: 64px;
    width: auto;
    height: auto;
}

.small-media-icon{
    height: 40px;
    max-width: 80px;
    width: auto;
    height: auto;
    margin-right: 10px;
}

.form-compact {
    margin: 0px;
}

.text-vertical-align {
    vertical-align: middle !important;
}

.center-div
{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 3px;
    background-color: white;
    width:50%; height:300px;
}