body { margin-bottom: 70px; }

.row-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
}

.truncated_text{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.appDetailIcon {
    max-width: 128px;
    max-height: 128px;
    min-width: 64px;
    min-height: 64px;
    width: auto;
    height: auto;
}

.brandIcon {
    height: 32px;
}

.media-left{
    height:80%;
    width: auto;
}

.media-icon{
    height: 128px;
    max-width: 128px;
    width: auto;
    height: auto;
}

.small-media-icon{
    height: 40px;
    max-width: 80px;
    width: auto;
    height: auto;
}

.app-list-info {
    height: 100px;
}

.platformAndroid {
    float: left;
    vertical-align:middle;
    width:32px;
    height:32px;
    background-image: url(../images/android_64.png);
    background-size: 100%;
    margin-right: 10px;
}
.platformAndroid1 {
    position:relative;
    top:0px;
    right:0px;
    text-align:right;
    display:block;
    width:32px;
    height:32px;
    background-image: url(../images/android_64.png);
    background-size: 100%;
}
.platformIOS {
    float: left;
    vertical-align:middle;
    width:32px;
    height:32px;
    background-image: url(../images/apple_64.png);
    background-size: 100%;
    margin-right: 10px;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.module {
    width: 250px;
    margin: 0 0 1em 0;
    overflow: hidden;
}
.module h4 {
    margin: 0;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


/* line 5, stdin */
.github-ribbon-container {
    width: 10em;
    height: 10em;
    overflow: hidden;
    position: absolute;
    top: 130px;
    right: 10px; }

/* line 13, stdin */
.github-ribbon {
    z-index: 10;
    display: block;
    text-decoration: none;
    background-color: #34495e;
    position: relative;
    left: -6em;
    height: 2em;
    width: 16em;
    text-align: center;
    line-height: 2.2em;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-transform: translate(50%, -50%) rotate(45deg) translateY(6em);
    -moz-transform: translate(50%, -50%) rotate(45deg) translateY(6em);
    -o-transform: translate(50%, -50%) rotate(45deg) translateY(6em);
    -ms-transform: translate(50%, -50%) rotate(45deg) translateY(6em);
    transform: translate(50%, -50%) rotate(45deg) translateY(6em); }

/* line 34, stdin */
a.github-ribbon:visited,
a.github-ribbon {
    color: #ecf0f1 !important; }

/* line 38, stdin */
a.github-ribbon:hover {
    text-decoration: none;
    background-color: #2c3e50;
    -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out; }

/* line 45, stdin */
a.github-ribbon:active,
a.github-ribbon:hover {
    color: #fff !important; }

/* line 49, stdin */
.github-ribbon.amethyst {
    background-color: #9b59b6; }
/* line 51, stdin */
.github-ribbon.amethyst:hover {
    background-color: #8e44ad; }

/* line 55, stdin */
.github-ribbon.turquoise {
    background-color: #1abc9c; }
/* line 57, stdin */
.github-ribbon.turquoise:hover {
    background-color: #16a085; }

/* line 61, stdin */
.github-ribbon.peter-river {
    background-color: #3498db; }
/* line 63, stdin */
.github-ribbon.peter-river:hover {
    background-color: #2980b9; }

/* line 67, stdin */
.github-ribbon.alizarin {
    background-color: #e74c3c; }
/* line 69, stdin */
.github-ribbon.alizarin:hover {
    background-color: #c0392b; }

/* line 73, stdin */
.github-ribbon.nephritis {
    background-color: #27ae60; }
/* line 75, stdin */
.github-ribbon.nephritis:hover {
    background-color: #3d9970; }

/* line 79, stdin */
.github-ribbon.carrot {
    background-color: #e67e22; }
/* line 81, stdin */
.github-ribbon.carrot:hover {
    background-color: #d35400; }

@media (max-width: 768px) {
    /* line 88, stdin */
    .github-ribbon-container {
        position: static;
        width: 14em;
        height: 3em;
        margin-left: auto;
        margin-right: auto; }
    /* line 95, stdin */
    a.github-ribbon {
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
        position: static;
        width: auto;
        line-height: 2.1em; } }
