.row-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
}

.truncated_text{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.appDetailIcon {
    width1: 128px;
    height: 128px;
}

.brandIcon {
    height: 32px;
}

.platformAndroid {
    position:relative;
    top:-20px;
    right:0px;
    text-align:right;
    display:block;
    width:32px;
    height:32px;
    background-image: url(../images/android_64.png);
    background-size: 100%;
}
.platformIOS {
    position:relative;
    top:-20px;
    right:0px;
    text-align:right;
    display:block;
    width:32px;
    height:32px;
    background-image: url(../images/apple_64.png);
    background-size: 100%;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.ribbon {
    background-color: #a00;
    overflow: hidden;
    white-space: nowrap;
    /* top left corner */
    position: absolute;
    left: -50px;
    top: 00px;
    /* 45 deg ccw rotation */
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    /* shadow */
    -webkit-box-shadow: 0 0 10px #888;
    -moz-box-shadow: 0 0 10px #888;
    box-shadow: 0 0 10px #888;
}
.ribbon a {
    border: 1px solid #faa;
    color: #fff;
    display: block;
    font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 1px 0;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    /* shadow */
    text-shadow: 0 0 5px #444;
}