.isSysAdmin { display: none;}
.isAppAdmin { display: none;}
.isConnected { display: none;}

.row-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
}

.truncated_text{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.appDetailIcon {
    width: 128px;
    height1: 128px;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}